/*모드 요소 선택 */
* {
  font-weight: bold;
  color: darkorange;
}
/* 별표(*)는 페이지 안에 있는 모든 요소란 의미 */
* {
  color: plum;
}
/* 결과 화면을 봤을 때 텍스트가 plum 적용 확인. 이상으로 아는 건 이어지는 두 개의 선택지가 같은 여우 뒤 코드가 우선 순위
첫 선택지는 font-weight가 있지만 두 번째는 없는데 위에서 적용된 속성은 유지된 상태로 덮어쓰기 가능 */
p {
  color: olivedrab;
}
/* HTML에서 사용하는 태그 그대로. 모든 태그에 해당되는 폰트색이 olivedrab가 적용된걸 확인 가능 */
/* 태그 선택자는 기본 선택자(*)로 작성한 모든 요서 선택자보다 우선 순위를 보유

더 구체적이고 지엽적인 선택지가 우선 순위를 획득

CSS가 어려운 점 중 하나는 어느 코드를 최근에 썻냐 + 어떤 조건이 더 구체적인가 복합적 적응 결과가 웹페이지에 반영된다는 점
*/

/* 클래스 선택자 */

/*
HTML 태그에 CLASS를 명시 가능. 클래스 선택자는 페이지의 여러 곳에 중복으로 사용 가능함.
*/

.blue {
  color: lightblue;
}

/* 
  이상의 적용 결과에서 span 태그도 색이 바뀌는걸 확인 했을 때

  클래스 선택자가 태그 선택자보다 우선 순위를 보유
*/

p.blue {
  color: slateblue;
}

.blue.dark {
  color: mediumblue;
}

p.blue.dark {
  color: darkblue;
}

/* 
  이상에서 볼 수 있는 클래스 선택자의 특징은 다른 선택자에 이어 붙이는 것이 가능하다. 첫 번째(39번 라인) 예시는 태그 선택자에 .을 붙여서 클래스 선택자가 적용된 점. 그러면 span class="blue"보다 더 구체적이기에 span class="blue"는 lightblue가 적요되고 p class="blue"에서는 slateblue가 적용

  43번 라인의 예시는 .blue.dark이기 때문에 모든 태그에서 class명이 blue면서 dark를 찾아서 mediumblue가 적용한다는 의미

  47번 라인을 확인하면 p.dark.blue이기에 더 구체적 조건이 명시되서 결과적으로 mediumblue가 아닌 darkblue를 적용
*/

/* id 선택자 */
/* 
  한 페이지에서 여러 요소를 공유해서 사용 할 수 있는 클래스와 달리 id는 딱 한가지 요소에만 고유하게 사용 가능. id를 불러오는 구분자는 #
*/

#red {
  color: tomato;
}

/* 
  이상의 주석에서 나오듯 id는 클래스보다 더 규칙이 구체적이여서 .html의 15번 라인에 css는 .blue가 적용이 아닌 #red가 적용된다

  중요한 점은 .은 클래스 지정 #은 id 지정
*/

/* 그룹 선택자 */
span, .dark, #red {
  text-decoration: underline;
}

/* 
  앞에 있는 것이 우선 순위가 높다
  id 선택자 > 클래스 선택자 > 태그 선택자 > 기본 선택자
*/